@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(234, 240, 157);
}
nav{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-family: 'Cormorant SC', serif;
}

nav ul{
    list-style: none;
    margin-left: 50%;
    font-size: 25px;
    font-weight: 500;
    background-color: black;
}
.bigcontainer{
    display: flex;
    justify-content: center;
    margin-top: 105px;
   
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border: 5px solid rgba(155, 70, 33, 0.364);
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    background-color: rgb(104, 152, 117);
    cursor: pointer;
}
.innertext:hover{
    background-color: rgb(104, 152, 117);
    cursor: pointer;
}
.status{
    padding: 0 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.status h1{
    font-size: 2.75rem;
}
.border-top{
    border-top: 0;
}
.border-down{
    border-bottom: 0;
}
.border-left{
    border-left: 0;
}
.border-right{
    border-right: 0;
}

.imgcontainer img{
    width: 0;
    transition: width 1s ease-in-out;
}
#exit{
    margin: 0 35px;
    padding: 2px 20px;
    background: rgb(144, 137, 151);
    border-radius: 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 18px;
}
.turn {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

@media screen and (max-width: 800px) {
    .bigcontainer{
        flex-wrap: wrap;
    }
    .status{
       margin-top: 40px;
    }

    .container{
       grid-template-rows: repeat(3,20vw);
       grid-template-columns: repeat(3,20vw)
    }
    .status h1{
        font-size: 1.5rem;
    }
}